body{
    font-family: Arial, Helvetica, sans-serif;
}

#path{
    height: min-content;
    width: 100%;
    border: black solid;
    border-radius: 10px;
    background-color: black;
    display: flex;
}

#tutoriales{
    display: none;
}
.header-text{
    font-size: medium;
    color: white;
    margin: 15px 15px 15px 15px;
    padding: 10px 10px 10px 10px;
    white-space: nowrap;
    max-width: min-content;
    cursor: default;
}
.header-text:hover{
    color: rgb(0, 0, 0);
    margin: 13px 13px 13px 13px;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    border: rgb(255, 255, 255) solid 2px;
}