<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Piece by piece</title>
    <link rel="stylesheet" href="Styles/Styles.css" />
  </head>
  <body>
    <div id="path">
      <div id="tutoriales"></div>
      <h3 class="header-text" onclick="home()" id="1_1">Home</h3>
      <h3 class="header-text" onclick="tutoriales()" id="1_2">Tutoriales</h3>
      <h3 class="header-text" onclick="cronometer()" id="1_3">Cronómetro</h3>
      <h3 class="header-text" onclick="history()" id="1_4">
        Un poco de historia
      </h3>
      <h3 class="header-text" onclick="model()" id="1_5">Modelo 3D del cubo</h3>
    </div>
    <div>
      <h2>Mejor</h2>
      <h2 id="record ">Todavía no hay record</h2>
    </div>
    <div>
      <table border="1" id="2">
        <tr>
          <th>Tiempo</th>
          <th>Algoritmo mezclador</th>
        </tr>
        <td>
          <th id="time"></th>
          <th id="algoritm"></th>
        </td>
      </table>
      <h2 style="color: red" onclick="borrr()">Reiniciar</h2>
      <h2 id="mostrador">Manten presionado espacio para empezar o haz click</h2>
    </div>
    <div>
      <h2>Récords:</h2>
      <table border="1" id="2">
        <tr>
          <th>Tiempo</th>
          <th>Fecha</th>
          <th>Algoritmo mezclador</th>
          <th>Algoritmos para resolución (opcional)</th>
          <th style="color: red" onclick="borrr()">BORRAR TODO</th>
        </tr>
        <div id="table2"></div>
      </table>
    </div>
    <h2>Mejor</h2>
    <h2 id="record ">Todavía no hay record</h2>

    <script src="../Scripts/JS/Clock.js"></script>
    <script src="../Scripts/JS/Zn3.js"></script>
    <script src="../Scripts/JS/ScriptG.js"></script>
  </body>
</html>
