<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Piece by piece</title>
    <link rel="stylesheet" href="Styles/Styles.css" />
  </head>
  <body>
    <div id="path">
      <div id="tutoriales"></div>
      <h3 class="header-text" onclick="home()" id="1_1">Home</h3>
      <h3 class="header-text" onclick="tutoriales()" id="1_2">Tutoriales</h3>
      <h3 class="header-text" onclick="cronometer()" id="1_3">Cronómetro</h3>
      <h3 class="header-text" onclick="history()" id="1_4">
        Un poco de historia
      </h3>
      <h3 class="header-text" onclick="model()" id="1_5">Modelo 3D del cubo</h3>
    </div>
    <div id="content">
      <h1 id="">Bienvenido a Pieze by Pieze</h1>
    </div>
    <script src="../Scripts/JS/ScriptG.js"></script>
    <script src="../Scripts/JS/Zn1.js"></script>
  </body>
</html>
